* {
	/*border: 1px dotted red !important;*/
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body{
	font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
header{
	position: absolute;
	top: 0;
	height: 45px;
	width: 100%;

	/* gradient */
	background: #466368;
	background: -webkit-linear-gradient(to right, #2e2e2e, #393939, #2e2e2e);
	background:    -moz-linear-gradient(to right, #2e2e2e, #393939, #2e2e2e);
	background:         linear-gradient(to right, #2e2e2e, #393939, #2e2e2e);
}
header ul{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	top: 25%;
	text-align: center;
}
header a{
	color: #ddd;
	font-size: 15px;
	letter-spacing: normal;
	font-weight: 300;
}
header li{
	float: left;
	width: 10%;
	padding: 0 26px;
}
#main{
	position: relative;
	margin-top: 50px;
	width: 100%;
}
#front-page{
	position: relative;
	height: 600px;
	background:  url("../img/iphone-6s-change_large.jpg") 21% 0 no-repeat;
}
.title{
	width: 480px;
	background: url("../img/iphone_6s_large.png") 50% 0 no-repeat;
	position: absolute;
	left: 49%;
	top: 35%;
	text-align: center;
}
.title h1{
	height: 61px;
	margin-bottom: 10px;
	visibility: hidden;
}
.title h2{
	color: #333;
	font-style: normal;
	font-size: 40px;
	font-family: inherit;
	line-height: 1.1;
	font-weight: 200;
	margin-bottom: 0.7em;
	letter-spacing: -0.025em;
}
.title a{
	margin: 0 10px;
	font-size: 22px;
}
.title a, .adapter-recall-program{
	font-weight: 200;
	font-family: inherit;
}
#banner{
	height: 200px;
}
#banner .image{
	background-clip: content-box;
	height: 100%;
	width: 25%;
	float: left;
	padding: 10px;
}
#banner .watch{
	background: url("../img/watch_large.jpg") 50% 0 no-repeat;
}
#banner .iPad{
	background: url("../img/ipad_pro_large.jpg") 50% 0 no-repeat;
}
#banner .tv{
	background: url("../img/appletv_large.jpg") 50% 0 no-repeat;
}
#banner .macbook{
	background: url("../img/macbook_large.jpg") 50% 0 no-repeat;
}
#support-banner{
	padding: 25px 0;
	text-align: center;
}
.adapter-recall-program{
	font-size: 16px;
	font-weight: 300;
}
footer{
	background: #eee;
	font-size: 0.7em;
	padding-top: 20px;
	padding-bottom: 40px;
}
footer h3{
	color: #222;
	font-weight: 500;
}
footer h3, footer li, footer p{
	padding: 5px 0;
} 
#footer-nav{
	border-bottom: 1px solid #ddd;
}
#footer-nav, #footer-about{
	width: 1000px;
	margin: 0 auto;
}
.columns{
	margin-bottom: 30px;
}
.col{
	float: left;
	width: 20%;
}
.footer-nav-easy-shorcut{
	clear: both;
}
.footer-nav-easy-shorcut, #footer-about{
	padding: 10px 0;
}
.footer-nav-easy-shorcut, #footer-about li:first-child{
	color: #aaa;
}
#footer-about li:not(:first-child){
	padding-left: 12px;
	padding-right: 12px;
}
#footer-about li img{
	float: left;
	position: relative;
	top: -3px;
	left: -3px;
}
.bordered{
	border-right: 1px solid #ddd;
}

/*misc*/
.left{
	float: left;
}
.right{
	float: right;
}
.columns a, #footer-about a{
	color: #777;
}
.title a, .adapter-recall-program, .footer-nav-easy-shorcut a{
	color: #08c;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #888;
	cursor: pointer;
}
.clearfix {
	overflow: auto;
}
